/* Reset some default styles */
/* Resetting margin and padding for various elements */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Global Styles */
/* Setting font-family and text color for the entire body */
body {
  font-family: "Montserrat", sans-serif;
  color: #333;
  background-color: #ccc;
}

/* Header Styles */
/* Styling for the header section */
header {
  background-color: #503dbb;
  color: #fff;
  padding: 1rem 0; /* Adding padding to the top and bottom */
  position: fixed;
  top: 0;
  border-radius: 4rem;
  margin: 1rem;
}

/* Navigation Styles */
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between; /* Distribute items along the space */
}

nav li {
  margin-left: 2rem;
  margin-right: 2rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Section Styles */
/* Styling for general sections */
section {
  padding: 2.5rem; /* Adding padding around the content */
}

/* Profile img styles */
#profileimg {
  text-align: center;
}

/* Scaling profile imgae size */
.profileimg {
  max-width: 25rem;
  height: auto;
}

/* Styling for the "About" section */
#about {
  background-color: #f5f5f5;
  /* text-align: center; */
  margin: auto;
  width: 50%;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

#about h1 {
  padding-bottom: 0.75rem;
  /* font-family: "Montserrat", Arial, sans-serif; */
}

#about p {
  padding-bottom: 0.75rem;
}

/* Skills Section Styles */
/* Styling for the "Skills" section */
#skills {
  text-align: center;
  background-color: #fff;
  margin: auto;
  width: 50%;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

#skills h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.skill {
  width: 70%; /* Adjusted width as needed */
  height: auto; /* Set the desired height */
  margin: 0 auto 1.25rem; /* Adjusted margin for spacing */
  padding: 1.25rem;
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9;
  border-radius: 1rem; /* Add border-radius for rounded corners */
}

.skill h2 {
  padding-bottom: 0.75rem;
}

/* Projects Section Styles */
/* Styling for the "Projects" section */
#projects {
  text-align: center;
  background-color: #fff;
  margin: auto;
  width: 50%;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

#projects h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.project {
  margin-bottom: 1.25rem;
  padding: 1.25rem;
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9;
  border-radius: 1rem; /* Add border-radius for rounded corners */
}

.project h2 {
  padding-bottom: 0.75rem;
}

.project p {
  padding-bottom: 0.75rem;
}

/* Social Media Section Styles */
/* Styling for the "Social Media" section */
#socialmedia {
  background-color: #503dbb;
  color: #fff;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 2rem;
  border-radius: 1rem; /* Add border-radius for rounded corners */
  margin-bottom: 2rem;
}

#socialmedia p {
  text-align: center;
}

.logo {
  max-width: 3rem;
  height: auto;
}

.logo:last-child {
  display: none;
}

/* Show the white logo when hovering over the link */
#socialmedia a:hover .logo:last-child {
  display: inline;
}

/* Hide the black logo when hovering over the link */
#socialmedia a:hover .logo:first-child {
  display: none;
}

/* Footer Styles */
/* Styling for the footer section */
footer {
  text-align: center;
  margin: 1rem;
  padding: 1.25rem;
  background-color: #503dbb;
  color: #fff;
  border-radius: 1rem; /* Add border-radius for rounded corners */
}

.hidden {
  display: none;
}

/* Contact me button */
.show-contact {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  padding: 0.75rem 1.5rem;
  /* margin: 5rem 2rem; */
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

/* Contact box */
.contact {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;

  background-color: white;
  padding: 5rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

/* Contact boxes X button */
.close-contact {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

/* Blur overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

/* Links Styles */
/* Styling for links and their hover effect */
a {
  color: #007bff;
  text-decoration: none;
}

/* a:hover {
  text-decoration: underline;
} */
